.nav-links a {
  color: var(--primary-color);
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    padding-left 0.25s;
}

.nav-links a:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.link {
  position: relative;
  display: inline-block;
  line-height: 1.4;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--quinary-color);
  color: var(--primary-color);
  transition: all 0.3s;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.sidebar-header {
  flex-grow: 1;
  text-align: center;
  .toggle-icon-container {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: 20px;
    .toggle-btn {
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      color: var(--primary-color);
      display: flex;
      align-items: center;
    }
  }
}

.sidebar-menu {
  flex-grow: 1;
}

.sidebar.collapsed {
  width: 60px;
}

.brand {
  font-size: 22px;
  margin-top: 10px;
  transition: opacity 0.3s;
}

.sidebar.collapsed .brand {
  opacity: 0;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  justify-items: anchor-center;
}

.nav-links li {
  width: -webkit-fill-available;
  text-align: center;
}

.content {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.3s;
}

.sidebar.collapsed + .content {
  margin-left: 60px;
}

.sidebar-logo {
  flex: 1;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .nav-links a:hover {
    padding: 0;
  }

  .content {
    margin-left: 0;
  }

  .sidebar.collapsed {
    display: none;
  }
}
