<div class="why-invest-title-container primary-background">
  <h1>Pourquoi commencer à investir ?</h1>
</div>
<ng-container *ngFor="let reason of reasons">
  <app-reason [reason]="reason"></app-reason>
</ng-container>
<!-- <div class="why-invest-reason primary-background">
    <div class="why-invest-reason-title">
        <h2>Se Protéger contre l'inflation</h2>
    </div>
    <div class="why-invest-reason-container">
        <div class="reason-content">
            <span class="citation">C'est de plus en plus cher !</span>
            <p>
                L'inflation réduit la valeur de l'argent au fil du temps.
                Investir dans des actifs qui offrent des rendements supérieurs à l'inflation,
                comme les actions ou l'immobilier, protège votre pouvoir d'achat.
            </p>
        </div>
        <div class="reason-image">
            <img src="assets/images/why-invest/baguette-inflation.jpeg" alt="inflation">
        </div>
    </div>
</div> -->
