<div class="donation-page-container">
    <div class="donation-page-content">
        <div class="donation-page-title">
            <h1>Soutenez la chaîne</h1>
        </div>
        <div class="donation-content">
            <form action="https://www.paypal.com/donate" method="post" target="_blank">
              <input type="hidden" name="business" value="tristan.finance.officiel@gmail.com" />
              <input type="hidden" name="item_name" value="Soutien à la chaîne" />
              <input type="hidden" name="currency_code" value="EUR" />
              <input type="submit" value="Faire un don" class="paypal-button" />
            </form>
        </div>

    </div>
</div>

