.watchlist-container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  align-items: stretch;
  color: var(--tertiary-color);
  padding: 0 2rem 2rem 2rem;

  .watchlist-header {
    align-self: center;

    h1 {
      font-size: 4rem;
      color: var(--quinary-color);
      margin-bottom: 2rem;
    }
  }

  .watchlist-table {
    border-collapse: collapse;
    text-align: left;
    font-size: 0.95rem;

    thead {
      background-color: var(--quinary-color);
      color: var(--primary-color);
    }

    .table-wrapper {
      overflow-x: auto;
      width: 100%;
      justify-items: center;

      table {
        table-layout: auto;
      }
      table thead tr th span {
        font-weight: bold;
        color: var(--primary-color);
        float: inline-end;
      }
    }

    td app-sparkline {
      display: block;
      width: 100%;
    }

    th:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    th:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    th,
    td {
      padding: 0.5rem 0.75rem;
      vertical-align: middle;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    tr:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.load-button {
  background-color: var(--quinary-color);
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.2s;
  min-width: 180px;

  background-color: var(--quinary-color);

  &:hover:not(:disabled) {
    filter: brightness(0.9); // darkens visually
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .spinner {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top: 3px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.investment-warning {
  background-color: #ffe9d5;
  border-left: 4px solid #ff9800;
  padding: 1rem;
  margin: 1rem auto;
  width: 90%;
  font-size: 0.95rem;
  color: #333;
  border-radius: 4px;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.25rem;

  button {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0.6rem 1.2rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:not(.active) {
      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
      }
    }
  }

  button.active {
    background-color: var(--primary-color);
    color: white;
  }
}
