<div
  class="watchlist-container"
  *ngIf="currentTableData && currentTableData.length > 0"
>
  <div class="watchlist-header">
    <h1>Watchlist</h1>
  </div>

  <div class="tab-buttons">
    <button
      [class.active]="activeTab === 'PEA'"
      (click)="activeTab = 'PEA'; currentTableData = tableDataPEA"
    >
      📈 PEA
    </button>
    <button
      [class.active]="activeTab === 'CTO'"
      (click)="activeTab = 'CTO'; currentTableData = tableDataCTO"
    >
      💼 CTO
    </button>
  </div>

  <div class="watchlist-table">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th (click)="sortBy('ticker')">Ticker<span> ⇅ </span></th>
            <th (click)="sortBy('name')">Nom<span> ⇅ </span></th>
            <th (click)="sortBy('market_cap')">
              Capitalisation<span> ⇅ </span>
            </th>
            <th (click)="sortBy('price')">Prix<span> ⇅ </span></th>
            <!-- <th (click)="sortBy('high_price')">Plus Haut<span> ⇅ </span></th> -->
            <!-- <th (click)="sortBy('fair_value')">Prix cible<span> ⇅ </span></th> -->
            <th (click)="sortBy('drop_from_high')">
              Depuis le Plus Haut (1an) <span> ⇅ </span>
            </th>
            <th (click)="sortBy('pe')">PER<span> ⇅ </span></th>
            <th (click)="sortBy('daily_change')">
              Variation Journalière<span> ⇅ </span>
            </th>
            <th (click)="sortBy('eps')">EPS<span> ⇅ </span></th>
            <th (click)="sortBy('sector')">Secteur<span> ⇅ </span></th>
            <th (click)="sortBy('attractiveness_score')">
              Score<span> ⇅ </span>
            </th>
            <!-- <th>Perf 10 ans</th> -->
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let company of currentTableData"
            (click)="openCompanyDetails(company)"
          >
            <td>{{ company.ticker }}</td>
            <td>{{ company.name }}</td>
            <td>{{ company.market_cap }}</td>
            <td>{{ company.price }}</td>
            <!-- <td>{{ company.high_price }}</td> -->
            <!-- <td>{{ company.fair_value }}</td> -->

            <td
              [ngStyle]="{
                'background-color': getDropFromHighColor(company.drop_from_high)
              }"
            >
              {{ company.drop_from_high }}
            </td>
            <td [ngStyle]="{ 'background-color': getPERatioColor(company.pe) }">
              {{ company.pe }}
            </td>
            <td>{{ company.daily_change }}</td>
            <td [ngStyle]="{ 'background-color': getEPSColor(company.eps) }">
              {{ company.eps }}
            </td>
            <td>{{ company.sector }}</td>
            <!-- <td>{{ company.moat }}</td> -->
            <td
              [ngStyle]="{
                'background-color': getScoreColor(company.attractiveness_score)
              }"
            >
              {{ company.attractiveness_score }}
            </td>
            <!-- <td class="sparkline-cell">
              <app-sparkline
                color="#161D27"
                [data]="company.price_history"
                [dates]="company.price_dates"
                [height]="100"
              ></app-sparkline>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="investment-warning">
    ⚠️ <strong>Avertissement :</strong> Ceci ne constitue pas un conseil en
    investissement. Les informations fournies sont à titre éducatif et
    informatif uniquement.
  </div>
</div>
