
.primary-background {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    border-radius: 16px;
    padding: 2rem; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

.title-container {
    h1 {
        font-size: 2rem;
        font-weight: bolder;
        line-height: 1.5;
        margin-bottom: 0;
        color: var(--white-color);
    }
    margin-bottom: 2rem;
}

.reason {
    padding: 2rem; 
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2rem;

    .reason-title {
      color: var(--white-color);
    }
    .reason-container {
        display: flex;
        align-items: center; /* Aligns the text and image vertically in the center */
        justify-content: space-between; /* Adds space between the content and image */
      
        .reason-content {
          flex: 1; /* Makes sure the text takes up the available space */
          padding-right: 20px; /* Optional: Adds space between the text and image */
        }
      
        .reason-image {
          width: 20%; /* Adjusts the width of the image container */
          img {
            width: 100%; /* Makes the image take the full width of the container */
            height: auto; /* Maintains the aspect ratio */
            object-fit: cover; /* Optional: Ensures the image covers the container while maintaining its aspect ratio */
          }
        }
      }     
}

.citation {
    font-style: italic;
    font-weight: bolder;
    font-size: 1rem;
}