<!-- <div *ngIf="pollData">
  <h2>{{ pollData.question }}</h2>
  <div *ngFor="let option of pollData.options">
    <button (click)="submitVote(option.name)">
      {{ option.name }} - {{ option.votes }} votes
    </button>
  </div>
</div>

<div *ngIf="!pollData">
  <p>Loading poll data...</p>
</div> -->
<div class="poll-container">
  <mat-card class="poll-card">
    <h2 class="poll-question">What is your favorite color?</h2>
    <div class="answer-cards">
      <mat-card class="answer-card" (click)="submitVote('Red')">
        <mat-card-content>Red</mat-card-content>
      </mat-card>
      <mat-card class="answer-card" (click)="submitVote('Blue')">
        <mat-card-content>Blue</mat-card-content>
      </mat-card>
      <mat-card class="answer-card" (click)="submitVote('Green')">
        <mat-card-content>Green</mat-card-content>
      </mat-card>
    </div>
  </mat-card>
</div>
