<!-- <div *ngIf="pollData">
  <h2>{{ pollData.question }}</h2>
  <div *ngFor="let option of pollData.options">
    <button (click)="submitVote(option.name)">
      {{ option.name }} - {{ option.votes }} votes
    </button>
  </div>
</div>

<div *ngIf="!pollData">
  <p>Loading poll data...</p>
</div> -->
<div class="poll-container">
  <div class="poll-card">
    <h2 class="poll-question">What is your favorite color?</h2>
    <div class="answer-cards">
      <div class="answer-card" (click)="submitVote('Red')">
        <div>Red</div>
      </div>
      <div class="answer-card" (click)="submitVote('Blue')">
        <div>Blue</div>
      </div>
      <div class="answer-card" (click)="submitVote('Green')">
        <div>Green</div>
      </div>
    </div>
  </div>
</div>
