@use "theme/custom-theme";

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary-color: #efd499;
  --secondary-color: #8c6b44;
  --tertiary-color: #2f393d;
  --quaternary-color: #2a2e30;
  --quinary-color: #161d27;
  --senary-color: #000000;
  --white-color: #ffffff;
  --header-height: 56px;
}
